name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out a copy of the repository
        uses: actions/checkout@v5
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
      - name: Run ruff linter
        run: uv run --dev ruff check
      - name: Run ruff formatter
        run: uv run --dev ruff format --check
